*,
*::after,
*::before {
  box-sizing: inherits;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

button, input, textarea {
  border: 0;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}